

.row-hover-effect:hover {
  border: 1px solid rgb(144, 112, 136) !important;
  border-radius: 3px;
  background-color: rgb(239, 239, 243);
  cursor: pointer;
}

th, td {
  text-align: center;
  padding: 2px;
}

.grant-button, .deny-button {
  border-radius: 3px;
}
.grant-button {
  background-color: white;
  color: rgb(10, 107, 65);
  border: 1px solid rgb(10, 107, 65);
}

.deny-button {
  background-color: white;
  color: rgb(220, 10, 48);
  border: 1px solid rgb(220, 10, 48);
}
