.doc-list {
  margin-top: 50px;
  margin-bottom: 30px;
}

.doc-list table {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-collapse: collapse;
}

.doc-list thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  height: 50px;
}

.XMLdata {
  padding-top: 20px;
}

input {
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid slategray;
}

.button {
  background-color: white;
  border-radius: 3px;
  margin-right: 5px;
  color: rgb(10, 107, 65);
  border: 1px solid rgb(10, 107, 65);
}
